body{
  margin: 0px;
  padding: 0px;
}
.Nav{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  text-decoration: none;
}

.nav-links{

  display: flex;
  justify-content: space-between;
  text-decoration: none;
}